.bion-container {
  position: relative;

  width: px(512);
  height: px(512);

  .coord {
    position: absolute;
    left: px(256);
    top: px(256);
  }

  .bion-elm {
    display: block;
    position: absolute;

    .bg {
      position: absolute;

      width: px(40);
      height: px(40);

      left: - px(20);
      top: - px(20);

      background-color: #ccf;

      border-radius: 50%;
    }

    &:hover {
      .bg {
        background-color: #99f;
      }
    }

    &[data-is-continue="true"] {
      .bg {
        background-color: #66f;
      }
    }

    .number {
      display: block;

      position: absolute;

      width: px(40);
      height: px(40);

      left: - px(20);
      top: - px(20);

      line-height: px(40);
      text-align: center;

      color: $white;

      font-size: px(16);
    }
  }
}
